body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;

    
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background:burlywood
    padding: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 40px;
    border: 8px solid gold;
    background-color: red;

}

p {
    text-align: center;
    color: black;
    background-color: bisque;
    padding: 40px;
    border: 5px solid gold;

}

form {
    display: flex;
    flex-direction: column
    
}

label {
    margin-top: 30px;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gender {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: aqua;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder
}
